test/jaxwsSample1/model/src/main/resources/xsd/util.xsd

<xs:schema
        xmlns="http://www.menta.org/util"
        targetNamespace="http://www.menta.org/util"
        elementFormDefault="qualified"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        >
    <xs:complexType name="FrequencyConfidenceNegationTriple">
        <xs:sequence>
            <xs:element name="frequency" type="xs:float" minOccurs="1" maxOccurs="1"/>
            <xs:element name="confidence" type="xs:float" minOccurs="1" maxOccurs="1"/>
            <xs:element name="negation" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>